<section>
  <div class="container">
    <div class="d-lg-flex wapper justify-content-between">
      <div class="pachtatva" data-aos="zoom-in-up">
        <!-- <div class="iskcon d-lg-none">
          <h2>ISKCON - INTERNATIONAL SOCIETY FOR KRISHNA CONSCIOUSNESS</h2>
        </div> -->
        <figure class="mb-lg-0">
          <img src="..//..//../assets/img/pachtatav.png" alt="">
        </figure>
      </div>
      <div class="iskcon" data-aos="fade-left">
        <h2 class="d-none d-lg-block">ISKCON - INTERNATIONAL SOCIETY FOR KRISHNA CONSCIOUSNESS</h2>
        <strong>Founder Acharya:<span> His Divine Grace A.C. Bhaktivedanta Swami Prabhupada.</span></strong>
        <p *ngFor="let item of   aboutiskcon ">{{item}}</p>
      </div>
    </div>


    <div class="Purposes-of-iskcon d-lg-flex justify-content-between">
      <div class="purpose-deatail" data-aos="fade-right">
        <h2>The 7 Purposes of ISKCON formulated by Srila Prabhupada, the Founder Acarya of ISKCON are</h2>
        <ul class="list-of-purposes">
          <li *ngFor="let item of ListOfPurposes">
            <p>{{item}}</p>
          </li>
        </ul>
      </div>

      <div class="pachtatva">
        <figure data-aos="zoom-in-up">
          <img src="..//..//../assets/img/ISKCON-image.jpg" alt="">
        </figure>
        <div class="img-title" data-aos="fade-up">
          <p>Through these purposes, ISKCON is spreading the much needed spiritual consciousness and the culture at
            large to the society which has advanced technically yet is facing a major times moral, social, familial and
            cultural crises all over the world.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <h4 *ngFor="let item of ListOfPurposes">{{ite}}</h4> -->
