<section class="prabhupadas-desire">
  <div class="container">
    <div class="d-lg-flex justify-content-center align-items-center custom-margin ">
      <div class="desire-img">
        <img src="..//..//../assets/img/Prabhupada.png" alt="">
      </div>
      <div class="carousal-wapper d-none d-lg-block">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="slide quotes position-relative">
              <strong>&ldquo;</strong>
              <h5 class="mb">I wish that this track of land may be turned into New vrindaban. You have new york, New
                England and
                So many
                "New" duplicates of European countries in the USA:</h5>
              <h5> Why not New Vrindaban in your country?"</h5>
              <span>–Srila Prabhupada</span>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="slide quotes position-relative">
              <strong>&ldquo;</strong>
              <h5 class="mb">Anyone who is steady in his determination for the advanced stage of spiritual realization
                and can equally tolerate the onslaughts of distress and happiness is certainly a person eligible for
                liberation."</h5>
              <!-- <h5> Why not New Vrindaban in your country?"</h5> -->
              <!-- <strong>&rdquo;</strong> -->
              <span>–Srila Prabhupada</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide quotes position-relative">
              <strong>&ldquo;</strong>
              <h5 class="mb">If there is little pain in the finger, I become so much disturbed because I have got
                intimate connection with this finger. Similarly, we have got intimate connection with Krishna and we are
                fallen. Therefore Krishna also feels little pain and therefore, He comes down. Krishna is feeling pain.
                So you become Krishna Conscious. Then Krishna will feel pleasure."</h5>
              <span>— In his conversation, Vrindavan, 24th April, 1975</span>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="slide quotes position-relative">
              <strong>&ldquo;</strong>
              <h5 class="mb">Books are the basis; purity is the force; preaching is the essence; utility is the
                principle."</h5>
              <span>— A. C. Bhaktivedanta Swami Prabhupada</span>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>

    </div>

    <div class="about-desire">
      <p>His Divine Grace A.C. Bhaktivedanta Swami Prabhupada had a strong desire to spread the teachings of Bhakti yoga
        and the message of the ancient Indian scriptures to people all over the world. He believed that the practice of
        devotion to God and the path of Bhakti yoga were the means to achieve inner peace, happiness, and spiritual
        enlightenment, and he wanted to share this knowledge with as many people as possible.</p>
      <p>Srila Prabhupada was deeply inspired by the life and teachings of Lord Caitanya, a 16th century saint and
        avatar of Lord Krishna, who spread the practice of congregational chanting of the Holy Names of God as a means
        to attain spiritual realization. Srila Prabhupada saw the relevance of Lord Caitanya's teachings in the modern
        world, and wanted to bring them to the Western world, where they were largely unknown.</p>
      <p>Srila Prabhupada's desire to spread the teachings of Bhakti yoga led him to leave his home and family in India
        and travel to the United States in 1965. Despite facing many challenges and obstacles, he persevered and
        established the International Society for Krishna Consciousness (ISKCON), also known as the Hare Krishna
        movement. Through his writing, preaching, and the establishment of temples and centers for education and
        culture, Srila Prabhupada was able to bring the teachings of Bhakti yoga to people all over the world.</p>
      <p>Srila Prabhupada's desire to share the message of Bhakti yoga continues to inspire and guide his disciples and
        followers, and his legacy continues to live on through the work of the International Society for Krishna
        Consciousness and the many people who have been touched by his teachings.</p>
    </div>

  </div>

  <div class="more_quotes">
    <h4 class="headding">A.C. Bhaktivedanta Swami Prabhupāda Quotes</h4>
    <div class="more-quotes-wapper">
      <div class="container">
        <owl-carousel-o [options]="quotesoption">
          <ng-template carouselSlide>
            <div class="slide more_quotes-slids position-relative">
              <strong>&ldquo;</strong>
              <h5 class="mb">I wish that this track of land may be turned into New vrindaban. You have new york, New
                England and
                So many
                "New" duplicates of European countries in the USA:</h5>
              <h5> Why not New Vrindaban in your country?"</h5>
              <span>–Srila Prabhupada</span>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="slide more_quotes-slids position-relative">
              <strong>&ldquo;</strong>
              <h5 class="mb">Anyone who is steady in his determination for the advanced stage of spiritual realization
                and can equally tolerate the onslaughts of distress and happiness is certainly a person eligible for
                liberation."</h5>
              <!-- <h5> Why not New Vrindaban in your country?"</h5> -->
              <!-- <strong>&rdquo;</strong> -->
              <span>–Srila Prabhupada</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide more_quotes-slids position-relative">
              <strong>&ldquo;</strong>
              <h5 class="mb">If there is little pain in the finger, I become so much disturbed because I have got
                intimate connection with this finger. Similarly, we have got intimate connection with Krishna and we are
                fallen. Therefore Krishna also feels little pain and therefore, He comes down. Krishna is feeling pain.
                So you become Krishna Conscious. Then Krishna will feel pleasure."</h5>
              <span>— In his conversation, Vrindavan, 24th April, 1975</span>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="slide more_quotes-slids position-relative">
              <strong>&ldquo;</strong>
              <h5 class="mb">Books are the basis; purity is the force; preaching is the essence; utility is the
                principle."</h5>
              <span>— A. C. Bhaktivedanta Swami Prabhupada</span>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="slide more_quotes-slids position-relative">
              <strong>&ldquo;</strong>
              <h5 class="mb">Religion without philosophy is sentiment, or sometimes fanaticism, while philosophy without
                religion is mental speculation."</h5>
              <span>— A. C. Bhaktivedanta Swami Prabhupada</span>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
