<section class="prabhupadas-desire">
  <div class="container">
    <div class="d-lg-flex justify-content-center align-items-center custom-margin ">
      <div class="desire-img">
        <img src="..//..//../assets/img/Prabhupada.png" alt="">
      </div>
      <div class="carousal-wapper d-none d-lg-block">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let item of CarusalData">
            <div class="slide more_quotes-slids more_quotes-slids-desktop position-relative">
              <strong>&ldquo;</strong>
              <h5 class="mb">{{item.quotes}}</h5>
              <span>{{item.author}}</span>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>

    </div>

    <div class="about-desire">
      <p *ngFor="let item of aboutDesire">{{item}}</p>
    </div>

  </div>

  <div class="more_quotes">

    <div class="more-quotes-wapper">
      <h4 class="headding">Spiritual Quotes</h4>
      <div class="container">
        <owl-carousel-o [options]="quotesoption">
          <ng-template carouselSlide *ngFor="let item of CarusalData">
            <div class="slide more_quotes-slids position-relative">
              <strong>&ldquo;</strong>
              <h5 class="mb">{{item.quotes}}</h5>
              <span>{{item.author}}</span>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
