<header class="d-none d-lg-block">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo">
      <a href="javascript:void();">
        <img src="..//..//../assets/img/logo.png" alt="logo" title="Bhaktivedanta Academy for Culture & Education">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="javascript:void();navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['']" (click)="gotoTop()">Home</a>
        <a class="nav-item nav-link" href="javascript:void();">About Us
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
            <path
              d="M2.03992 0.206665L4.91992 3.08667L7.79992 0.206665L8.91992 0.793332L4.91992 4.79333L0.919922 0.793332L2.03992 0.206665Z"
              fill="white" />
          </svg>
          <ul class="list">
            <li class="list_item">
              <a [routerLink]="['AboutIskcon']" (click)="gotoTop()">About Iskcon</a>
            </li>
            <li class="list_item">
              <a [routerLink]="['AboutParbhupad']" (click)="gotoTop()">About Srila Prabhupada</a>
            </li>
            <li class="list_item">
              <a [routerLink]="['AboutGopalKrishna']" (click)="gotoTop()">About Gopal Krishna Goswami Maharaja</a>
            </li>
          </ul>
        </a>
        <a class="nav-item nav-link" href="javascript:void();">Vrindavan DARshan
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
            <path
              d="M2.03992 0.206665L4.91992 3.08667L7.79992 0.206665L8.91992 0.793332L4.91992 4.79333L0.919922 0.793332L2.03992 0.206665Z"
              fill="white" />
          </svg>
          <ul class="list">
            <li class="list_item">
              <a href="javascript:void();" [routerLink]="['PrabhupadasDesire']" (click)="gotoTop()">Srila Prabhupada's
                Desire</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();" [routerLink]="['TempleOfVrindavan']" (click)="gotoTop()">7 Temples Of
                Vrindavan</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();" [routerLink]="['Yamuna']" (click)="gotoTop()">Yamuna Aarti</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();" [routerLink]="['Govardhan']" (click)="gotoTop()">Govardhan</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();" [routerLink]="['PrabhupadRoom']" (click)="gotoTop()">Srila Prabhupada
                Room</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();" [routerLink]="['RoopGoswami']" (click)="gotoTop()">Rupa Goswami Samadhi</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">Sanatana Goswami Samadhi</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">25 Lilasthalis</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();" [routerLink]="['GuruParampara']" (click)="gotoTop()">Guru Parampara</a>
            </li>
            <li class="list_item"><a href="javascript:void();" (click)="gotoTop()" [routerLink]="['Kirtan']">Gallery</a>
            </li>
          </ul>
        </a>
        <a class="nav-item nav-link" href="javascript:void();">Contact Us</a>

      </div>
      <button class="visit-btn" href="javascript:void();">visit bace</button>
    </div>
  </nav>

</header>




<div class="main_header_area animated d-lg-none">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo">
      <a href="javascript:void();" (click)="gotoTop()">
        <img src="..//..//../assets/img/logo.png" alt="logo" title="Bhaktivedanta Academy for Culture & Education">
      </a>
    </div>
    <nav id="navigation1" class="navigation">
      <!-- Logo Area Start -->
      <div class="nav-header">
        <div class="nav-toggle"></div>
      </div>
      <!-- Search panel Start -->
      <!-- Main Menus Wrapper -->
      <div class="nav-menus-wrapper">
        <ul class="nav-menu align-to-right">
          <li> <a href="javascript:void();" class="active" [routerLink]="['/']" (click)="gotoTop()">Home</a></li>
          <li><a href="javascript:void();">About Us</a>
            <div class="megamenu-panel">
              <div class="megamenu-lists">
                <ul class="megamenu-list list-col-4">
                  <li> <a [routerLink]="['AboutIskcon']" (click)="gotoTop()">About Iskcon</a></li>
                  <li> <a [routerLink]="['AboutParbhupad']" (click)="gotoTop()">About Srila Prabhupada</a></li>
                  <li> <a [routerLink]="['AboutGopalKrishna']" (click)="gotoTop()">About Gopal Krishna Goswami
                      Maharaja</a></li>
                </ul>

              </div>
            </div>
          </li>

          <li><a href="javascript:void();">Vrindavan DARshan</a>
            <div class="megamenu-panel">
              <div class="megamenu-lists">
                <ul class="megamenu-list list-col-4">
                  <li><a href="javascript:void();" [routerLink]="['PrabhupadasDesire']" (click)="gotoTop()">Srila
                      Prabhupada's Desire</a>
                  </li>
                  <li> <a href="javascript:void();" [routerLink]="['TempleOfVrindavan']" (click)="gotoTop()">7 Temples
                      Of Vrindavan</a></li>
                  <li><a href="javascript:void();" [routerLink]="['Yamuna']" (click)="gotoTop()">Yamuna Aarti</a></li>
                  <!-- <li><a href="javascript:void();" (click)="gotoTop()" [routerLink]="['Photogallery']">Gallery</a></li> -->
                  <li><a href="javascript:void();" (click)="gotoTop()" [routerLink]="['PrabhupadRoom']">Srila Prabhupada
                      Room</a></li>
                  <li><a href="javascript:void();" (click)="gotoTop()" [routerLink]="['RoopGoswami']">Rupa Goswami
                      Samadhi</a></li>
                  <li><a href="javascript:void();" (click)="gotoTop()">Sanatana Goswami Samadhi</a></li>
                  <li><a href="javascript:void();" (click)="gotoTop()">25 Lilasthalis</a></li>
                  <li><a href="javascript:void();" [routerLink]="['GuruParampara']" (click)="gotoTop()">Guru
                      Parampara</a></li>
                  <li><a href="javascript:void();" (click)="gotoTop()" [routerLink]="['Kirtan']">Gallery</a></li>
                </ul>

              </div>
            </div>
          </li>

          <li><a href="javascript:void();">Contact Us</a></li>
        </ul>
        <button class="visit-btn" href="javascript:void();">visit bace</button>
      </div>
    </nav>
  </div>
</div>





<div class="dark-mode">
  <input type="checkbox" class="checkbox" id="checkbox">
  <label for="checkbox" class="label">
    <i class="fas fa-moon"></i>
    <i class='fas fa-sun'></i>
    <div class='ball'></div>
  </label>
</div>
<div class="gototop" (click)="gotoTop()">
  <!-- <span>&uarr;</span> -->
  <strong>Goto Top</strong>

</div>
