
<header id="nav-menu" aria-label="navigation bar">
  <div class="container-fluid d-flex w-100 justify-content-between">
    <div class="nav-start w-100">
      <a class="logo" href="/">
        <img src="..//..//../assets/img/logo.png" alt="Logo" />
      </a>
      <nav class="menu">
        <ul class="menu-bar">
          <li>
            <button class="nav-link dropdown-btn" data-dropdown="dropdown1" aria-haspopup="true" aria-expanded="false"
              aria-label="browse">
              About Us
              <i class="bx bx-chevron-down" aria-hidden="true"></i>
            </button>
            <div id="dropdown1" class="dropdown">
              <ul role="menu">
           
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['AboutIskcon']">
                    <div>
                      <span class="dropdown-link-title">About Iskcon</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['AboutParbhupad']"> 
                    <div>
                      <span class="dropdown-link-title">About Srila Prabhupada</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['AboutGopalKrishna']">
                    <div>
                      <span class="dropdown-link-title">About Gopal Krishna Goswami Maharaja</span>
                    </div>
                  </a>
                </li>
              </ul>
<!-- 
              <ul role="menu">
                <li class="dropdown-title">
                  <span class="dropdown-link-title">Browse by apps</span>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#adobe-xd">
                    <img
                      src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/xd.svg" />
                    Adobe XD
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#after-effect">
                    <img
                      src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/ae.svg" />
                    After Effect
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#sketch">
                    <img
                      src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/sketch.svg" />
                    Sketch
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#indesign">
                    <img
                      src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/indesign.svg" />
                    Indesign
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#figma">
                    <img
                      src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/figma.svg" />
                    Figma
                  </a>
                </li>
              </ul> -->
            </div>
          </li>

          <li>
            <button class="nav-link dropdown-btn" data-dropdown="dropdown2" aria-haspopup="true" aria-expanded="false"
              aria-label="discover">
              Vrindavan Darshan
              <i class="bx bx-chevron-down" aria-hidden="true"></i>
            </button>
            <!-- <div id="dropdown2" class="dropdown">
              <ul role="menu">
                <li>
                  <span class="dropdown-link-title">Browse Categories</span>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#branding">Branding</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#illustrations">Illustration</a>
                </li>
              </ul>
              <ul role="menu">
                <li>
                  <span class="dropdown-link-title">Download App</span>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#mac-windows">MacOS & Windows</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#linux">Linux</a>
                </li>
              </ul>
            </div> -->
         
            <div id="dropdown2" class="dropdown">
              <ul role="menu">
           
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['PrabhupadasDesire']">
                    <div>
                      <span class="dropdown-link-title">Srila Prabhupada's Desire</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['TempleOfVrindavan']">
                    <div>
                      <span class="dropdown-link-title">7 Temples Of Vrindavan</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['Yamuna']">
                    <div>
                      <span class="dropdown-link-title">Yamuna Aarti</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['Govardhan']">
                    <div>
                      <span class="dropdown-link-title">Govardhan</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['PrabhupadRoom']">
                    <div>
                      <span class="dropdown-link-title">Srila Prabhupada Room</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['RoopGoswami']">
                    <div>
                      <span class="dropdown-link-title">Rupa Goswami Samadhi</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['TempleOfVrindavan']">
                    <div>
                      <span class="dropdown-link-title">7 Temples Of Vrindavan</span>
                    </div>
                  </a>
                </li>
              </ul>
<!-- 
              <ul role="menu">
                <li class="dropdown-title">
                  <span class="dropdown-link-title">Browse by apps</span>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#adobe-xd">
                    <img
                      src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/xd.svg" />
                    Adobe XD
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#after-effect">
                    <img
                      src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/ae.svg" />
                    After Effect
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#sketch">
                    <img
                      src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/sketch.svg" />
                    Sketch
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#indesign">
                    <img
                      src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/indesign.svg" />
                    Indesign
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="#figma">
                    <img
                      src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/figma.svg" />
                    Figma
                  </a>
                </li>
              </ul> -->
            </div>
          </li>
          <li>
            <button class="nav-link dropdown-btn" data-dropdown="dropdown3" aria-haspopup="true" aria-expanded="false"
              aria-label="browse">
              Media
              <i class="bx bx-chevron-down" aria-hidden="true"></i>
            </button>
            <div id="dropdown3" class="dropdown">
              <ul role="menu">
           
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['Photogallery']">
                    <div>
                      <span class="dropdown-link-title">Images</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['Kirtan']"> 
                    <div>
                      <span class="dropdown-link-title">Kirtan</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-link" href="javascript:vodi();" [routerLink]="['Lectures']">
                    <div>
                      <span class="dropdown-link-title">Lectures</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li><a class="nav-link" href="/">Livestream</a></li>
          <li><a class="nav-link" href="/">About</a></li>
        </ul>
      </nav>
    </div>

    <div class="nav-end">
      <button id="hamburger" aria-label="hamburger" aria-haspopup="true" aria-expanded="false">
        <i class="bx bx-menu" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</header>














<!-- 
<div class="dark-mode">
  <input type="checkbox" class="checkbox" id="checkbox">
  <label for="checkbox" class="label">
    <i class="fas fa-moon"></i>
    <i class='fas fa-sun'></i>
    <div class='ball'></div>
  </label>
</div> -->
<div class="gototop" (click)="gotoTop()">
  <!-- <span>&uarr;</span> -->
  <strong>Goto Top</strong>

</div>