body {
  font-family: "Roboto", sans-serif;
}

.logo {
  img {
    width: 130px;
  }
}
header {
  height: 75px;
}
.navbar {
  padding: 0 30px;
  background: linear-gradient(
    90deg,
    var(--gradint-1) 0%,
    var(--gradint-2) 100%
  );
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  //   background-image: url(..//..//../assets/img/icons8-menu-rounded-30.png);
  opacity: 0.8;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item.active {
  color: var(--btn-hover);
  font-weight: 500;
}

.nav-item {
  margin-right: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--white);
  text-transform: uppercase;
  position: relative;
  padding: 30px;

  &:hover {
    color: var(--btn-hover);
  }

  svg {
    margin-left: 10px;
  }
}

.list {
  list-style: none;
  padding: 10px 0;
  background: var(--white);
  width: 300px;
  position: absolute;
  top: 75px;
  left: 0;
  display: none;
  z-index: 9;

  .list_item {
    a {
      text-decoration: none;
      padding: 10px 15px;
      text-transform: capitalize;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;
      display: block;
      color: var(--head);

      &:hover {
        color: var(--btn-hover);
        background: linear-gradient(
          90deg,
          var(--gradint-1) 0%,
          var(--gradint-2) 100%
        );
      }
    }
  }
}

.visit-btn {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: var(--btn-hover);
  padding: 12px;
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  margin: auto 15px;
  width: 90%;
}

.visit-btn:hover,
.visit-btn:active {
  background: var(--btn-hover);
  color: var(--gradint-1);
}

.nav-item.nav-item.active {
  .list {
    display: block;
  }
}

.navigation-portrait .nav-menus-wrapper {
  width: 320px;
  height: 100%;
  top: 0;
  right: -400px;
  position: fixed;
  background: linear-gradient(
    90deg,
    var(--gradint-1) 0%,
    var(--gradint-2) 100%
  );
  z-index: 20000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  padding: 50px 0;
}

.nav-menu {
  padding: 0;
  margin-bottom: 50px;
  .visit-btn {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
}
.megamenu-panel {
  background: var(--black);
}
.megamenu-list > li > a {
  width: 100%;
  padding: 10px 15px;
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  font-size: 13px;
}
.navigation-portrait .nav-menu > li {
  width: 100%;
  position: relative;
  border-top: solid 1px #f0f0f0;
}
.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
  right: 0;
}
/***----------------------*/ ////

@media screen and (min-width: 768px) {
}

.main_header_area {
  height: 75px;
}

.nav-toggle {
  width: 30px;
  height: 30px;
  padding: 6px 2px 0;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 30px;
  display: none;
  cursor: pointer;
}
.nav-toggle:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;
}
.navigation-portrait .nav-toggle {
  display: block;
}

.nav-menu + .nav-menu > li:first-child {
  border-top: none;
}
.nav-menu > li > a {
  height: 70px;
  padding: 26px 15px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  transition: color 0.3s, background 0.3s;
}
.navigation-portrait .nav-menu > li > a {
  width: 100%;
  height: auto;
  padding: 12px 15px 12px 26px;
}
.nav-menu > li:hover > a,
.nav-menu > li.active > a,
.nav-menu > li.focus > a {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.megamenu-list {
  width: 100%;
  margin: 0 0 15px;
  padding: 0;
  display: inline-block;
  list-style: none;
}

.megamenu-list > li > a:hover {
  background: linear-gradient(
    90deg,
    var(--gradint-1) 0%,
    var(--gradint-2) 100%
  );
  color: #fff !important;
}

@media screen and (min-width: 992px) {
  .visit-btn {
    margin: unset;
    width: unset;
  }
}

.gototop {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 20px;
  height: 20px;
  // background: rgba(0, 0, 0, 0.8);
  font-size: 25px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 30px;
  cursor: pointer;
  // border: 1px solid #fff;
  strong {
    display: block;
    font-size: 10px;
    line-height: 1;
    text-align: center;
  }
}
