<section class="footer">
  <div class="container">
    <div class="footer-wapper">
      <div class="logo">
        <a href="javascript:void();">
          <img src="..//../assets/img/logo.png" alt="">
        </a>
        <strong>Iskcon-Bace Bace &#169;2023</strong>
        <p class="mahamantra">Hare Krishna Hare Krishna Krishna Krishna Hare Hare!! Hare Rama Hare Rama Rama Rama Hare
          Hare!!</p>
      </div>
      <div class="terms d-md-flex justify-content-between">
        <div class="copyright">
          <strong>Copyright &#169;2023 Iskcon-Bace </strong>
        </div>
        <div class="copyright">
          <a href="javascript:void();">Terms of Donations</a>
          <a href="javascript:void();">Privacy Policy</a>
          <a href="javascript:void();">Refund Policy</a>
        </div>

      </div>
    </div>
  </div>
</section>
