.footer {
  background: linear-gradient(
    90deg,
    var(--gradint-1) 20%,
    var(--gradint-2) 100%
  );
  padding: 15px 0;
}
.logo {
  text-align: center;
  a {
    width: 200px;
    display: block;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  strong {
    font-family: Inter;
    font-size: 14px;
    font-weight: 100;
    line-height: 16px;
    color: var(--white);
  }
  p {
    font-family: Roboto;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    line-height: 25px;
    color: var(--white);
  }
}
.copyright {
  text-align: center;
  a {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    color: var(--white);
    text-decoration: none;
    border-right: 1px solid var(--white);
    padding: 3px 10px;
    &:last-child {
      border-right: none;
    }
  }
  strong {
    font-size: 12px;
    font-weight: 200;
    line-height: 14px;
    color: var(--white);
  }
}
