<!-- <div class="banner">
  <div class="container-fluid">
    <div class="overlay"></div>
    <figure>
      <img src="..//..//../assets/img/iskconradheKrishnaw.jpg" alt="">
    </figure>
  </div>
</div> -->
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <img src="..//..//../assets/img/iskconradheKrishnaw.jpg" alt="">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="..//..//../assets/img/iskconradheKrishna.jpg" alt="">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="..//..//../assets/img/iskconradheKrishna.jpg" alt="">
    </div>
  </ng-template>
</owl-carousel-o>
