<div class="prasadam">



<div class="prasadam_img">
    <img src="https://harekrishnarevolution.files.wordpress.com/2017/11/prasadam-sp-4.jpg" alt="">
</div>
<div class="container">
    <h5>Prasadam</h5>
<p *ngFor="let item of aboutPrsadam">{{item}}</p>
<div class="d-lg-flex bace-prasadam justify-content-between">
    <div class="prasadam_img ">
        <img src="https://i.postimg.cc/0j1LYb5L/IMG20230326131748.jpg" alt="">
        <span>Prasadam at Mayapur Base</span>
    </div>
   <p>So prasadam means Krishna’s mercy, and prasadam is the remnants of something that has been prepared for the pleasure of Krishna with love and offered to Him for His enjoyment. Because Krishna has tasted it or enjoyed it prasadam is not a material thing. Once Krishna tastes something it becomes transcendental. Krishna and Krishna prasadam is non-different. That means for example you can get the same benefits by honoring Krishna prasadam (eating Krishna prasadam, but devotees don’t say “eating prasadam”–it is honoring prasadam or respecting prasadam) as you could get by being personally present with Krishna face-to-face. Prasadam is so powerful.</p>
</div>
<p *ngFor="let item of BacePrsadam">{{item}}</p>
</div>

</div>