<section class="activites">
  <div class="container">
    <div class="activites-header">
      <h4>Activities</h4>
      <p>Our weekly Activities here at Mayapur Bace</p>
    </div>
    <div class="activites-wapper">
      <div class="activites_parent d-md-flex justify-content-between">

        <div class="activites_1 column" data-aos="fade-right" (click)="gotoTop()"
        [routerLink]="['Photogallery']">
          <div class="about-darshna">
            <h4>dharshan</h4>
            <div class="anim">
              <p>Darshan, which in Sanskrit means ‘viewing’, holds immense significance in Indian philosophy and
                religious beliefs. Darshan consists of beholding a deity, especially in image form. Devotees believe
                that by having darshan of the Deity's image, one receives the positive energy that is given by the
                deity, also known as blessings.</p>
            </div>
          </div>
          <img src="../../../assets/img/dharshan.jpg" alt="">
        </div>
        <div class="activites_2 column" data-aos="fade-down">
          <div class="about-darshna" (click)="gotoTop()" [routerLink]="['Kirtan']">
            <h4>Kritan</h4>
            <div class="anim">
              <p>Kirtan, a form of devotional call-and-response chanting popularized in India five hundred years ago
                by Sri Chaitanya Mahaprabhu, is regularly practiced by ISKCON devotees and has now spread throughout
                the world through the efforts of the Vaishnava community.</p>
            </div>
          </div>
          <img src="../../../assets/img/kirtan.jpg" alt="">
        </div>
        <div class="activites_3 column" data-aos="fade-up" (click)="gotoTop()" [routerLink]="['Prasadam']">
          <div class="about-darshna">
            <h4>Prasadam</h4>
            <div class="anim">
              <p>It is an expression of love, devotion and compassion in the form of food items.
                Devotees who aspire to pure consciousness,
                Individuals prepare food for the Lord and then offer it to the Lord with love and devotion.</p>
            </div>
          </div>
          <img src="../../../assets/img/taking-prasadam.jpg" alt="">
        </div>
        <div class="activites_4 column" data-aos="fade-left">
          <div class="about-darshna">
            <h4>Bhagwat Geeta</h4>
            <div class="anim">
              <p>The Bhagavad Gita, an ancient sacred text of India, is universally regarded as a major source of
                spiritual wisdom and inspiration for mankind. Spoken directly by Lord Shri Krishna to his intimate
                friend Arjuna, the seven hundred verses of the Bhagavad Gita provide a definitive guide to the science
                of self-realization.</p>
            </div>
          </div>
          <img src="../../../assets/img/bhagwat.webp" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<app-festivals></app-festivals>
