<section class="lectures">
    <div class="container-fluid">
        <div class="row">


            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <!-- <iframe class="embed-responsive-item" src="https://youtu.be/LQnsidL6sQM?list=PLcrO4ParKiYWuRt7Zoe9pT2xzPIml0uJR"></iframe> -->
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LQnsidL6sQM?list=PLcrO4ParKiYWuRt7Zoe9pT2xzPIml0uJR"allowfullscreen></iframe>
              </div>
            </div>

            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R0zPvOqXsg4?list=PLcrO4ParKiYXwELOBHQKaYKzObOF1NExY" allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9N40yHTg9PM?list=PLcrO4ParKiYXwELOBHQKaYKzObOF1NExY" allowfullscreen></iframe>
              </div>
            </div>

            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/blaI2oWXR8k?list=PLcrO4ParKiYXwELOBHQKaYKzObOF1NExY"  allowfullscreen></iframe>
              </div>
            </div>

            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YgvtUHXuXR4?list=PLcrO4ParKiYXwELOBHQKaYKzObOF1NExY" allowfullscreen></iframe>
              </div>
            </div>

            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_MCwMVjmncY?list=PLcrO4ParKiYXwELOBHQKaYKzObOF1NExY" allowfullscreen></iframe>
              </div>
            </div>

            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yfmF2fHlMEI?list=PLcrO4ParKiYXwELOBHQKaYKzObOF1NExY" allowfullscreen></iframe>
              </div>
            </div>

            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/d-tl-svvA1g?list=PLcrO4ParKiYXwELOBHQKaYKzObOF1NExY" allowfullscreen></iframe>
              </div>
            </div>
            
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Lk8uJ7Q8zqU?list=PLcrO4ParKiYWeMPbm6_x0eokAxtpRYS9O"  allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jdI2TAr3yro?list=PLcrO4ParKiYVsouqD8MINBNGGEOM2k_Sr" allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LQjXnNb-Mls?list=PLcrO4ParKiYXZPfLrvCJVaWXWQSYeTdrH" allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pjJnVZG4BNw?list=PLcrO4ParKiYXZPfLrvCJVaWXWQSYeTdrH"  allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_AC1-Yg7MgM?list=PLcrO4ParKiYXZPfLrvCJVaWXWQSYeTdrH"  allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2yBMIyQuAsM?list=PLcrO4ParKiYXZPfLrvCJVaWXWQSYeTdrH" allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/ixqMLpcuqJY?list=PLcrO4ParKiYXZPfLrvCJVaWXWQSYeTdrH" allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_cdJzHmq3GU?list=PLcrO4ParKiYXZPfLrvCJVaWXWQSYeTdrH" allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_T6Yrh22fzQ?list=PLcrO4ParKiYXZPfLrvCJVaWXWQSYeTdrH" allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/9zNOqABn3HE?list=PLcrO4ParKiYXZPfLrvCJVaWXWQSYeTdrH"  allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9NdOPCeHgO8?list=PLcrO4ParKiYXZPfLrvCJVaWXWQSYeTdrH" allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M3QgHrtLsHY?list=PLcrO4ParKiYXZPfLrvCJVaWXWQSYeTdrH"  allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HrMWGZtdt-M?list=PLcrO4ParKiYVNe_z6-GE_MXY-FQ5K8W8J" allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n9zo8WtiiYE?list=PLcrO4ParKiYUxBbFdQ26Fww3aBwqseuuY" allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JCS459mdngE?list=PLcrO4ParKiYUxBbFdQ26Fww3aBwqseuuY"  allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H0r2Cc--Hmw?list=PLcrO4ParKiYUfJdhgdJDDE7hU80XfnG_D"  allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eUrIFHGSseM?list=PLcrO4ParKiYUfJdhgdJDDE7hU80XfnG_D" allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/fsjoc4YjojA?list=PLcrO4ParKiYVWpz-Zpk_jKZb4QOSTboyo"  allowfullscreen></iframe>
              </div>
            </div>
            <div class="gallery_product col-lg-3 col-md-4 col-sm-4 col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IiePUMQcO-Y?list=PLcrO4ParKiYVWpz-Zpk_jKZb4QOSTboyo" allowfullscreen></iframe>
              </div>
            </div>

        </div>
    </div>
</section>