<section class="about-parbhupad">

  <div class="container">
    <div class="d-lg-flex justify-content-between custom-margin align-items-center">
      <div class="parbhupad-img mb-3 mb-lg-0">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Gopal_Krisha_Goswami_in_ISKCON_Delhi.JPG" alt="">
      </div>


      <div class="text-parbhupad">
        <h5>H.H. Gopal Krishna Goswami Maharaja</h5>
        <p>His Holiness Gopal Krishna Goswami Maharaja appeared on this planet on the most auspicious day of Annada
          Ekadashi, on August 14, 1944, in New Delhi, India. Having named as Gopal Krishna at the time of his
          appearance, his spiritual master had not changed his name at the time of harinama initiation.</p>
        <p>H. H. Gopal Krishna Goswami Maharaja after graduating from the University of Delhi studied Business
          Management at the Sorbonne University of Paris on a scholarship from the French Government and later, obtained
          a Masters Degree in Business Administration from the McGill University at Montreal.</p>
      </div>
    </div>


    <div class="d-lg-flex justify-content-between flex-direction align-items-center">
      <div class="parbhupad-img mb-3 mb-lg-0">
        <img src="https://2.bp.blogspot.com/_aZOqgctTYjY/TNpblCKFKhI/AAAAAAAAALQ/Q8sida62vXw/s1600/DSC_0485.JPG" alt="">
      </div>


      <div class="text-parbhupad">
        <p>Having received an intimation from His grace Mahapurusa das, the then President, ISKCON, Montreal that His
          Divine Grace A.C. Bhaktivedanta Swami, Srila Prabhupada, Founder Acarya, ISKCON shall be arriving in Montreal
          on June 1, 1968, H. H. Gopal Krishna Goswami Maharaja arrived there on 30th May. After the kirtana, H. H.
          Gopal Krishna Goswami Maharaja enquired if he could render some service, and he was immediately sent to clean
          Srila Prabhupada’s apartment.</p>
        <p>“I was fortunate to receive this as my first assignment in devotional service”, Maharaja said. He cleaned the
          doors, shelves, and windows of Srila Prabhupada’s apartment. In this way, Gopal Krishna’s service attitude for
          Srila Prabhupada was manifested even before he actually met him.</p>
        <p>H. H. Gopal Krishna Goswami Maharaja first met Srila Prabhupada in the evening of June 1st, 1968. Within the
          first two weeks of meeting Srila Prabhupada, he decided that he would accept him as his spiritual master. In
          the words of H. H. Gopal Krishna Goswami Maharaja, “When I first met Srila Prabhupada, the motivation to
          surrender to God was already there in me, and two weeks after meeting him, I knew that Lord Krishna wanted me
          to surrender to Srila Prabhupada”.</p>
        <p>In fact, around December 1967, H. H. Gopal Krishna Goswami Maharaja had started visiting many Hindu temples,
          gurudwaras, and churches, in his search for the Absolute Truth or God. Every Sunday, he would seek out a
          different church, temple or gurudwara, and would spend the whole day there.</p>
      </div>
    </div>
  </div>
</section>
