<!-- <section class="address">
  <div class="container-fluid">
    <iframe class="map_address"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.384723484112!2d77.25048121542811!3d28.558207894191053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3fadfb011ab%3A0xdd6f5cfe77683748!2sMayapurBACE!5e0!3m2!1sen!2sin!4v1675507903284!5m2!1sen!2sin"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section> -->


<div class="resent_images">
  <div class="container">
    <div class="head">
      <h3>Resent Images</h3>
    </div>
    <div class="imgae-wapper">
      <a target="_blank" *ngFor="let item of memorypotrait" href="javascript:void();">
        <img src="{{item}}" alt="">
      </a>
      <!-- <img *ngFor="let item of memorypotrait" src="{{item}}" alt="Image" width="100%" /> -->
      <a target="_blank" class="more">
        <span>more</span>
        <img src="https://i.postimg.cc/Xq6Bh2dB/IMG20230520191951.jpg" alt="" srcset="">
      </a>
    </div>
  </div>
</div>