<div class="player">
  <div class="player__header">
    <div class="player__img player__img--absolute slider">
      <button class="player__button player__button--absolute--nw playlist">
        <img src="http://physical-authority.surge.sh/imgs/icon/playlist.svg" alt="playlist-icon">
      </button>
      <button class="player__button player__button--absolute--center play">
        <img src="http://physical-authority.surge.sh/imgs/icon/play.svg" alt="play-icon">
        <img src="http://physical-authority.surge.sh/imgs/icon/pause.svg" alt="pause-icon">
      </button>
      <div class="slider__content">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
        <img class="img slider__img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">

      </div>
    </div>
    <div class="player__controls">
      <button class="player__button back">
        <img class="img" src="http://physical-authority.surge.sh/imgs/icon/back.svg" alt="back-icon">
      </button>
      <p class="player__context slider__context">
        <strong class="slider__name"></strong>
        <span class="player__title slider__title"></span>
      </p>
      <button class="player__button next">
        <img class="img" src="http://physical-authority.surge.sh/imgs/icon/next.svg" alt="next-icon">
      </button>
      <div class="progres">
        <div class="progres__filled"></div>
      </div>
    </div>
  </div>

  <ul class="player__playlist list">
    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context">
        <a href="javascript:void();" class="player__song-name">Bhaj_Man_Radhe_Govinda</a>
        <span class="flex">
          <span class="player__title">Achyuta Gopi</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Bhaj_Man_Radhe_Govinda.mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context">
        <a href="javascript:void();" class="player__song-name">Govindam Adi Purusham</a>
        <span class="flex">
          <span class="player__title">Brahma Samhitha</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Brahma_Samhitha_Govindam%20Adi%20Purusham.mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context">
        <a href="javascript:void();" class="player__song-name">Maha_Mantra</a>
        <span class="flex">
          <span class="player__title">Candrika</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Candrika_Maha_Mantra.mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context">
        <a href="javascript:void();" class="player__song-name">Damodar Ashtakam</a>
        <span class="flex">
          <span class="player__title">Unknown</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Damodar%20Ashtakam%20with%20Lyrics%20and%20Meaning%20-%20ISKCON%20Temple%20Songs%20_%20Sri%20Damodarashtakam(MP3_128K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Hare Krishna Hare Rama Mahamantra</a>
        <span class="flex">
          <span class="player__title">Unknown</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Hare%20Krishna%20Hare%20Rama%20_%20Mahamantra%20_%20Lofi%20Spiritual%20_%20Slowed%20_%20Reverb(MP3_320K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context">
        <a href="javascript:void();" class="player__song-name">Hare Krishna Mahamantra</a>
        <span class="flex">
          <span class="player__title">Unknown</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Hare%20Krishna%20Mahamantra(MP3_128K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Jagannath Sloka</a>
        <span class="flex">
          <span class="player__title">Sainik Dey</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Jagannath%20Sloka%20(%E0%A6%9C%E0%A6%97%E0%A6%A8%E0%A7%8D%E0%A6%A8%E0%A6%BE%E0%A6%A5%20%E0%A6%B6%E0%A7%8D%E0%A6%B2%E0%A7%8B%E0%A6%95)%20_%20Sainik%20Dey%20_%20Avik%20Sur%20_%20SVF%20Devotional(MP3_128K).mp3"></audio>
    </li>


    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Hare Krishna</a>
        <span class="flex">
          <span class="player__title">Kishori Mohan Das</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Kishori%20Mohan%20das-Hare%20Krishna_Full%20Album(MP3_128K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Krishna Hey</a>
        <span class="flex">
          <span class="player__title">Govind Kishori Das</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Krishna%20Hey%20_%20Janmashtami%20Special%20_%20GKD(MP3_128K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Lord Of Universe</a>
        <span class="flex">
          <span class="player__title">Nalini Devi</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Lord%20Krishna_Lord%20Of%20Universe_Nalini%20Devi%20Dasi"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Mayapur Kirtan Mela 2021</a>
        <span class="flex">
          <span class="player__title">H.G Akinchan Das</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Mayapur%20Kirtan%20Mela%202021%20Adhivas%20Kirtan%20By%20H.G%20Akinchan%20Das(MP3_128K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Mayapur Kirtan Mela 2021</a>
        <span class="flex">
          <span class="player__title">H.G Yogindra Das</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Mayapur%20Kirtan%20Mela%202021%20Day%203%20Kirtan%20By%20H.G%20Yogindra%20das(MP3_128K).mp3"></audio>
    </li>


    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Nadiya Godrume Nityananda Mahajana</a>
        <span class="flex">
          <span class="player__title">Navadvip Mandal</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Nadiya%20Godrume%20Nityananda%20Mahajana%20_%20Monks%20in%20Mayapur%20_%20Navadvip%20Mandal%20Parikrama(MP3_320K).mp3"></audio>
    </li>


    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Radha Krishna Kirtan</a>
        <span class="flex">
          <span class="player__title">Vraj Mohan</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Radha%20Krishna%20Kirtan%20-%20Vijay%20Krsna%20(KIRTANIYAS)%20_%20Vraj%20Mohan(MP3_128K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Radhadesh_Mellows</a>
        <span class="flex">
          <span class="player__title">Achyuta Gopi</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Radhadesh_Mellows_Acyuta%20Gopi"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Radhe Radhe Govinda</a>
        <span class="flex">
          <span class="player__title">Aaradhakananda</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Radhe%20Radhe%20Govinda%20Radhe%20(Live)%20-%20Aaradhakananda%20_%20Kirtan%20Sessions(MP3_320K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">SHRI HARI STOTRAM 8D</a>
        <span class="flex">
          <span class="player__title">Unknown</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/SHRI%20HARI%20STOTRAM%20__%20IN%208D%20%20%20BASS%20BOOSTED%20__%20USE%20HEADPHONE%20__(MP3_320K).mp3"></audio>
    </li>


    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Mero Radha Raman</a>
        <span class="flex">
          <span class="player__title">Unknown</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Sakhi%20Ri%20MeroRadhaRaman%20_%20Radharaman%20Prakatya%20Utsav%202021%20_%20Radharaman%20Mere_Cheen%20le%20has%20ke%20Sabka%20man(MP3_128K).mp3"></audio>
    </li>


    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Sri Jagannath Ashtakam</a>
        <span class="flex">
          <span class="player__title">Swarupa Damodara Prabhu</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Sri%20Jagannath%20Ashtakam%20by%20Swarupa%20Damodara%20Prabhu(MP3_320K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Super Dancing Hare Krishna</a>
        <span class="flex">
          <span class="player__title">Shivram Das</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Super%20Dancing%20Hare%20Krishna%20Kirtan%20_%20Shivram%20Das(MP3_320K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">TULASI AARTI</a>
        <span class="flex">
          <span class="player__title">Unknown</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/TULASI%20AARTI%20%20with%20Lyrics%20and%20Meaning(MP3_128K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Hare Krishna</a>
        <span class="flex">
          <span class="player__title">Jahnavi Harrison</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Vrikshavalli%20Hare%20Krishna%20_%20Jahnavi%20Harrison%20_%20LIVE%20at%20The%20Shaw%20Theatre_%20London(MP3_128K).mp3"></audio>
    </li>


    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">Yasomati Nandana</a>
        <span class="flex">
          <span class="player__title">Swarupa Damodar Das</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/Yasomati%20Nandana%20_%20Swarupa%20Damodar%20Das(MP3_128K).mp3"></audio>
    </li>

    <li class="player__song">
      <img class="player__img img" src="https://i.postimg.cc/k4Ks3k2W/FB-IMG-15070308116375532.jpg" alt="cover">
      <p class="player__context ">
        <a href="javascript:void();" class="player__song-name">jai radha madhav</a>
        <span class="flex">
          <span class="player__title">Unknown</span>
          <span class="player__song-time"></span>
        </span>
      </p>
      <audio class="audio"
        src="https://github.com/achyutsharan3267/iskconbace/raw/master/src/assets/kirtan/jai%20radha%20madhav%20jai%20radha%20pyari%20_%20meditation%20_(MP3_128K).mp3"></audio>
    </li>


  </ul>
</div>
