@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.uppercase {
  text-transform: uppercase;
}
.player {
  width: 90%;
  display: flex;
  overflow: hidden;
  font-size: 1.22em;
  border-radius: 1.35em;
  flex-direction: column;
  height: var(--parent-height);
  margin: 20px auto;
}
.progres {
  width: 90%;
  height: 10px;
  cursor: pointer;
  border-radius: 1em;
  touch-action: none;
  background-color: #e5e7ea;
  transition: width var(--cubic-header);
}
.player__controls.move .progres {
  width: 98%;
}
.progres__filled {
  width: 0%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: inherit;
  background-color: #78adfe;
}
.progres__filled::before {
  right: -4px;
  width: 25px;
  content: " ";
  height: 25px;
  border-radius: 50%;
  position: absolute;
  background-color: #5781bd;
}
.player__playlist {
  height: 60vh;
  overflow-x: hidden;
  padding: 1.05em 0.9em 0 1.2em;
}
.player__playlist::-webkit-scrollbar {
  width: 0;
}
.player__song {
  /* gap: 0 .65em ; */
  display: flex;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding-bottom: 0.7em;
  border-bottom: 0.1em solid #d8d8d859;
}
.player__song .player__context {
  line-height: 1.5;
  margin-left: 0.65em;
}
.player__song-name {
  white-space: nowrap;
  width: 184px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  color: #096b70;
  font-weight: 600;
}
.player__song-time {
  font-size: 0.65em;
  font-weight: bold;
  color: var(--btn-hover);
  height: fit-content;
  align-self: flex-end;
}
.audio {
  display: none !important ;
}
.player__playlist {
  margin-top: 10em;
}
@media screen and (min-width: 768) {
  .player {
    width: 90%;
    margin: 20px auto;
  }

  .player__controls {
    width: 77%;
    gap: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    will-change: contents;
    align-content: center;
    justify-content: center;
    transition: transform var(--cubic-header), width var(--cubic-header);
  }

  .player__img--absolute {
    top: 1.4em;
    left: 1.2em;
    position: absolute;
  }
  .player__song-name {
    width: 60%;
  }
}
