<div id="flexbox">
  <div class="column">
    <img *ngFor="let item of memoryslandscap" src="{{item}}" alt="Image" width="100%" />
  </div>
  <div class="column">
    <img *ngFor="let item of memorypotrait" src="{{item}}" alt="Image" width="100%" />
  </div>
  <div class="column">
    <img *ngFor="let item of memoryother" src="{{item}}" alt="Image" width="100%" />
  </div>
  <div class="column">
    <img *ngFor="let item of memorytemple" src="{{item}}" alt="Image" width="100%" />
  </div>
</div>
