<div id="flexbox">
  <div class="column">
    <a target="_blank" *ngFor="let item of memoryslandscap" href="{{item}}">
      <img src="{{item}}" alt="">
    </a>
    <!-- <img *ngFor="let item of memoryslandscap" src="{{item}}" alt="Image" width="100%" /> -->
  </div>
  <div class="column">
    <a target="_blank" *ngFor="let item of memorypotrait" href="{{item}}">
      <img src="{{item}}" alt="">
    </a>
    <!-- <img *ngFor="let item of memorypotrait" src="{{item}}" alt="Image" width="100%" /> -->
  </div>
  <div class="column">
    <a target="_blank" *ngFor="let item of memoryother" href="{{item}}">
      <img src="{{item}}" alt="">
    </a>
    <!-- <img *ngFor="let item of memoryother" src="{{item}}" alt="Image" width="100%" /> -->
  </div>
  <div class="column">
    <a target="_blank" *ngFor="let item of memorytemple" href="{{item}}">
      <img src="{{item}}" alt="">
    </a>
    <!-- <img *ngFor="let item of memorytemple" src="{{item}}" alt="Image" width="100%" /> -->
  </div>
</div>
