/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "/node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss";
@import "/node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss";
body {
  background: url(../src/assets/img/background.svg);
  font-family: "Roboto", sans-serif;
}
:root {
  --gradint-1: #096b70;
  --gradint-2: #143952;
  --btn-hover: #c9a470;
  --btn-color: #ffda6b;
  --text: #3a4f66;
  --head: #7e8446;
  --white: #fff;
  --black: #000;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--btn-color) var(--btn-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

// *::-webkit-scrollbar-track {
//   background: var(--btn-hover);
// }

*::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
  border-radius: 3px;
  // border: 3px solid #143952;
}
.container {
  padding: 0 30px;
}
.read_more_btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  padding: 15px 23px;
  background: var(--btn-color);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text);
  border-radius: 15px 0px;
  transition: all 0.5s ease;
  display: inline-block;
  &:hover {
    border-radius: 0 15px;
    color: var(--white);
    background-color: var(--btn-hover);
    svg {
      path {
        fill: var(--white);
      }
    }
  }
  svg {
    vertical-align: baseline;
  }
}
.more {
  font-size: 25px;
  line-height: 1;
  padding: 10px 12px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: var(--btn-color);
  &:hover {
    color: var(--white);
    background-color: var(--btn-hover);
  }
  &:active {
    color: var(--white);
    background-color: var(--btn-hover);
  }
}
.custom-margin {
  margin-bottom: 50px;
}

.author {
  display: block;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  color: gray;
  font-weight: 300;
  margin-top: 5px;
}
