.container {
  max-width: 1140px !important;
  width: 100%;
}
.main_headding {
  font-family: "Noto Serif Georgian", serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 42px;
  color: var(--head);
}
.welcom_to_bace {
  margin-bottom: 50px;
}
.about_bace_img {
  flex: 0 0 50%;
}
.about_bace_img {
  position: relative;
  figure {
    margin: 0;
  }
  img {
    filter: drop-shadow(10px 9px 10px rgba(0, 0, 0, 0.5));
    border-radius: 50px 0px;
    width: 100%;
    object-fit: cover;
  }
}

.about_bace_text {
  p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: justify;
  }
}
.parbhupad_name {
  width: 100%;
  padding: 15px 0;
  h6 {
    font-family: "Noto Serif Georgian", serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    margin-bottom: 0;
    color: var(--head);
  }
  strong {
    text-align: center;
    display: block;
    text-transform: capitalize;
    font-size: 10px;
    line-height: 15px;
    color: rgba(126, 132, 70, 0.7);
  }
}
.welcom_to_bace {
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .main_headding {
    // font-family: "Noto Serif Georgian", serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    margin-bottom: 42px;
    color: var(--head);
  }
  .welcom_to_bace {
    margin-bottom: 100px;
  }

  .about_bace_text {
    margin-left: 60px;
    p {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 24px;
      text-align: left;
    }
  }
  .about_bace_img img {
    height: 70vh;
  }
  .parbhupad_name {
    bottom: 50px;
    padding: 15px 0;
    h6 {
      font-size: 20px;
      line-height: 25px;
    }
    strong {
      font-size: 15px;
      line-height: 20px;
    }
  }
  .welcom_to_bace {
    margin-top: 50px;
  }
}
