<div class="container">
  <div class="content">

    <figure>
      <div class="board ">
        <ul class="columnOne">
          <li>
            <span class="lvl-b">
              <div class="wapper">
                <figure>
                  <img
                    src="https://staticimg.amarujala.com/assets/images/2017/10/04/750x506/lord-shri-krishna_1507115540.jpeg?w=414"
                    alt="">
                </figure>
                <strong>Lord Shri Krishna</strong>
              </div>
            </span>
          </li>
        </ul>

      </div>
      <ul class="departments ">
        <li class="department ">
          <span class="lvl-b arrow">

            <div class="wapper">
              <!-- <figure>
                <img
                  src="https://staticimg.amarujala.com/assets/images/2017/10/04/750x506/lord-shri-krishna_1507115540.jpeg?w=414"
                  alt="">
              </figure> -->
              <strong>Brahma Sampradaya</strong>
            </div>

          </span>
          <ul class="sections">
            <li class="section" *ngFor="let item of brahmasampradaya"> <span>
                <strong>{{item.GuruName}}</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt porro corporis esse, quibusdam
                  minima sit tempore maxime cumque magnam temporibus.</p>
              </span>

            </li>

          </ul>
        </li>

        <li class="department ">
          <span class="lvl-b arrow">

            <div class="wapper">
              <strong>Rudra Sampradaya</strong>
            </div>

          </span>
          <ul class="sections">
            <li class="section" *ngFor="let item of rudrasampradaya"> <span>
                <strong>{{item.GuruName}}</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt porro corporis esse, quibusdam
                  minima sit tempore maxime cumque magnam temporibus.</p>
              </span>

            </li>

          </ul>
        </li>
        <li class="department ">
          <span class="lvl-b arrow">

            <div class="wapper">
              <strong>Sri Sampradaya</strong>
            </div>

          </span>
          <ul class="sections">
            <li class="section" *ngFor="let item of srisampradaya"> <span>
                <strong>{{item.GuruName}}</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt porro corporis esse, quibusdam
                  minima sit tempore maxime cumque magnam temporibus.</p>
              </span>

            </li>

          </ul>
        </li>

        <li class="department ">
          <span class="lvl-b arrow">

            <div class="wapper">
              <strong>Kumar Sampradaya</strong>
            </div>

          </span>
          <ul class="sections">
            <li class="section" *ngFor="let item of kumarsampradaya"> <span>
                <strong>{{item.GuruName}}</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt porro corporis esse, quibusdam
                  minima sit tempore maxime cumque magnam temporibus.</p>
              </span>

            </li>

          </ul>
        </li>
      </ul>
    </figure>

  </div>
</div>
