<section class="intro">
  <div class="container">
    <h1>Brahma Madhva Gaudiya Sampradaya</h1>
    <h5>Scroll Down</h5>
    <img
      src="https://render.fineartamerica.com/images/images-profile-flow/400/images-medium-large-5/-krishna-with-flute-vrindavan-das.jpg"
      alt="">
  </div>
</section>

<section class="timeline">
  <ul>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>


    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-right">
      <div class="card" data-aos="fade-down">
        <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
        <strong class="text-center">Brahmā</strong>
        <div class="hooover">
          <h5>Brahmā</h5>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
              rerum
              dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
              exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
              cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum. Voluptates
              vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
              doloribus
              illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
            </p>
            <a href="javascriptvoid:();">more</a>
          </div>
        </div>
      </div>

    </li>

    <li data-aos="flip-left">
      <div>
        <div class="card" data-aos="fade-down">
          <img id="meBaby" src="https://i.pinimg.com/550x/14/54/d1/1454d1939cf3181ed0a842ea41f9469c.jpg" />
          <strong class="text-center">Brahmā</strong>
          <div class="hooover">
            <h5>Brahmā</h5>
            <div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque, earum eaque, qui quisquam
                rerum
                dolore soluta sapiente iusto neque obcaecati magnam saepe aut explicabo! Libero rerum ipsam non nulla
                exercitationem asperiores? Vitae molestiae delectus tenetur perspiciatis, dolorum placeat accusantium
                cupiditate quasi officiis impedit. Est, placeat quae? Distinctio quisquam delectus autem earum.
                Voluptates
                vitae id placeat molestiae adipisci nisi, repellat quis omnis dolorum eaque! Numquam deserunt sunt
                doloribus
                illo adipisci praesentium, consequuntur a. Laudantium veritatis consequatur, enim fugiat sint voluptate.
              </p>
              <a href="javascriptvoid:();">more</a>
            </div>
          </div>
        </div>
      </div>


    </li>

    <!-- <li>
      <div>
        <time>1998-2011</time><img class="photos"
          src="http://www.westperry.org/cms/lib/PA09000117/Centricity/Domain/51/school.gif" /><br>Went to school in many
        different places in Greece. We had to move a lot due to mama's job.
      </div>
    </li>
    <li>
      <div>
        <time>2012-2016</time><img class="photos"
          src="https://eclass.uowm.gr/courses/theme_data/3/uowm-logo_1.png" /><br> Study at the university of Western
        Macedonia in Greece.
      </div>
    </li>
    <li>
      <div>
        <time>2016</time><img class="photos"
          src="http://i1356.photobucket.com/albums/q729/eleftheria_b/my%20face/3_eleftheria_zpsjwpxlvm7.jpg" /><br>
        Graduade as an Engineer of Informatics and Telecommunications
      </div>
    </li>
    <li>
      <div>
        <time>2017</time><img class="photos"
          src="http://i1356.photobucket.com/albums/q729/eleftheria_b/my%20face/IMG-20161208-WA0006_zpsnpvm7kko.jpg" /><br>Been
        for a couples of months in Amsterdam to internship in a cool start-up company!
      </div>
    </li>

    <li>
      <div>
        <time>Find me!</time>
        <h5><a href="http://www.eleftheriabatsou.com" target="_blank">Eleftheria</a> | <a
            href="https://codepen.io/EleftheriaBatsou" target="_blank">Projects</a> | <a
            href="https://www.youtube.com/channel/UCC-WwYv3DEW7Nkm_IP6VeQQ" target="_blank"> Coding videos </a></h5>
      </div>
    </li> -->


  </ul>



</section>
